body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin: 0 auto;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  margin-left: 10%;
  padding: 10px 0;
  text-align: left;
}

header h1 img {
  height: 100%;
  width: auto;
}

.bar nav {
  width: 100%;
}
nav {
  height: 50px;
  width: 100%;
}
nav ul {
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
  box-shadow: 0px 0px 1px 0.8px #aaaaaa;
}

nav ul li {
  margin: 0 5%;
  width: 10%;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 15px 20px;
  display: inline-block;
  width: 150px;
}

nav ul li a.active,
nav ul li a:hover {
  border-radius: 20%;
  background-color: #f5f4df;

  text-align: center;
}
