.create-post-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f8f9fa;
}

.create-post-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
}

.create-post-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  height: 80%;
  position: relative;
}

.create-post-name {
  background-color: #f5f4df;
  border-radius: 15px 15px 0 0;
  width: calc(40% + 40px);
  margin-bottom: 0;
}

.create-post-name h2 {
  margin: 0;
  padding: 15px 20px;
  text-align: left;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.create-post-form label {
  display: block;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 1em;
}

.create-post-form input,
.create-post-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.create-post-form textarea {
  resize: none;
  height: 500px;
}

.create-post-form button {
  width: calc(100%);
  transform: translateX(-20px);
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f5f4df;
  font-size: 1em;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
}

.create-post-form button:hover {
  background-color: #e0dfc4;
}
